
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;

}
/* .card{
    background-color: white;
    width:26.4%;
    margin:auto;
    margin-top:15%;
} */
.card{
    position:absolute;
    top:10%;
    left:35%;
     height: 85%;
    
    border-radius: 30px;
     background-color: white;
}
.hero{
    border-top-left-radius:25px;
    border-top-right-radius: 25px;
    
}
.josy{
     text-align:center;
     margin-top:6%;
     word-spacing: 2px;
    
}
.order{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}
.audio{
    margin-left:15%;
    margin-top: 3%;
    width:350px;
    font-size:16px;
    color:rgb(192, 178, 178)
    
}
.music{
    background-color:hsl(225, 100%, 98%);
    display:flex;
    justify-content: space-;
    font-size: 16px;
    width:80%;
    height:15%;
   margin-left: 45px;
   padding:8px;
   border-radius: 10px;
   margin-top:4%;
   align-items: center;
   color:rgb(109, 96, 96);  
   
}
.music h3{
    margin-left:5%;
}
a{
    margin-left:25%;
    font-size:16px;
    font-weight:bold;
}
span{
    color: black;
    
}
button{
    background-color:hsl(224, 77%, 38%);
    border:none;
    width:78%;
    padding:15px;
    margin-left: 10%;
    margin-top:8%;
    border-radius:10px;
    color:white;
    font-size:16px;
    cursor: pointer;
    box-shadow: 0 8px 16px hsl(228, 33%, 82%);
    font-family: 'Red Hat Display', sans-serif;
}
p{
    margin-top: 5%;
    text-align: center;
    color:rgb(109, 96, 96);
    font-weight: bold;
}












